.main {

}

.main__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  width: 80vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}